* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

:root {
    --main-color: #007aff;
    --secondary-color: #787878;
    --shadow: #050a30;
    --tint: #1f8bff;
    --footer-bg: #000;
}

.container .logo{
    width: 50px;
    height: 50px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}
.container .nav{
    width: 385px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

.container a{
    text-decoration: none;
    font-weight: bold;
    /* color: black; */
}
.container a i{
    text-decoration: none;
    font-size: 30px;
    
} */
.products {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.countainer img{
    width: 150px;
    height:150px
}

.countainer .products button{
    background-color: red;
    color: white;
    /* border: none; */
    border-radius: 3px;
    font-weight: bold;

}
.section .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
table{
    margin: auto;
    margin-top: 50px;
    border: 1px solid #CCC;
    border-spacing: 0;
    text-align: center;
    width: 70%;

}

table td {
    padding: 15px;
    border: 1px solid #CCC;
}

table th {
    background-color: #551a8b;
    color: white;
    
}
table td button{
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}
