* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
  }
  
  :root {
    --main-color: #007aff;
    --secondary-color: #787878;
    --shadow: #050a30;
    --tint: #1f8bff;
    --footer-bg: #000;
  }
  .container {
    width: 85%;
    margin: auto;
  }
