* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

:root {
  --main-color: #007aff;
  --secondary-color: #787878;
  --shadow: #050a30;
  --tint: #1f8bff;
  --footer-bg: #000;
  --white: #fff;
  --section-bg: #f3f4f4;
  --black: #000;
  --shadow-hover: 0 2px 15px rgb(0 0 0 / 20%);
}

.container {
  width: 85%;
  margin: auto;
}

/* Start Nav Section */
nav {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  width: 10%;
  text-align: center;
}
img {
  max-width: 100%;
  width: 50%;
  object-fit: cover;
}
form {
  width: 40%;
}
input[type='search'] {
  background-color: var(--white);
  width: 100%;
  padding: 15px;
  outline: none;
  border-radius: 6px;
  border: 1px solid #ddd;
}
.cart {
  width: 10%;
  color: var(--main-color);
  font-size: 35px;
  text-align: center;
  text-decoration: none;
}
.total-cart {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 500;
}
/* End Nav Section */

/* Start header section */
header {
  height: 75px;
  display: flex;
  background-color: var(--main-color);
}
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
li {
  list-style: none;
}
.link.active {
  position: relative;
}
.link.active::after {
  content: ' ';
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.link {
  text-decoration: none;
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  color: var(--white);
}

/* End Header section */

/* Start hero  */
.row {
  margin-top: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8.2rem;
}

.row img {
  width: 100%;
}
.hero {
  background-color: var(--section-bg);
  padding: 30px 0;
}
.img-hero {
  object-fit: cover;
  width: 50%;
}

.info-hero {
  width: 28%;
  line-height: 1.5;
}
.info-hero h1 {
  font-weight: 400;
  font-size: 40px;
}
.info-hero span {
  font-size: 2rem;
  font-weight: 700;
  color: #ff4b4b;
  text-align: center;
  width: 25%;
  line-height: 1.8;
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  margin-bottom: 60px;
}
.btn {
  margin-top: 30px;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
  background-color: var(--main-color);
  width: 35%;
  padding: 20px 30px;
  border-radius: 8px;
  transition: 0.5s;
}
.btn:hover {
  background-color: var(--tint);
  box-shadow: var(--shadow-hover);
}

/* End hero */

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.8rem;
  width: 100%;
  background-color: #000;
  padding: 3.2rem 0 2.4rem 0;
  margin-top: 5.2rem;
}

.top-footer {
  display: flex;
  justify-content: space-evenly;
  gap: 2.4rem;
  color: #fff;
  position: relative;
}

.top-footer::after {
  content: '';
  position: absolute;
  bottom: -10%;
  width: 85%;
  height: 1px;
  background-color: #fff;
}
.footer-part {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-part-title {
  font-weight: 500;
}

.footer-links {
  list-style-type: none;
}

.footer-link {
  padding: 0.4rem 0;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.footer-link:hover {
  color: var(--main-color);
  text-decoration: underline;
}

.sign-up {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  flex-basis: 25%;
}

.sign-up-form {
  display: flex;
  align-items: center;
}

.sign-up-form input {
  width: 14rem;
  padding: 0.6rem 0.8rem;
  border: 2px solid var(--tint);
  background-color: black;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.sign-up-form input::placeholder {
  color: white;
}

.sign-up-form input:focus {
  color: black;
  background-color: white;
}

.sign-up-form i {
  color: #fff;
  padding: 0.76rem;
  background-color: var(--tint);
  cursor: pointer;
}

.sign-up-ad {
  white-space: pre-line;
  font-size: 0.8rem;
  color: #aaa;
}

.social-links {
  display: flex;
  gap: 0.2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.social-links i {
  padding: 0.6rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.social-links .fab:hover {
  background-color: white;
  color: var(--tint);
  transform: translateY(-5px);
}

.bottom-footer {
  color: #aaa;
  font-size: 0.8rem;
  margin-top: 2.4rem;
  margin-left: 6.8rem;
}

#products {
  margin-top: 8.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.2rem;
}

.products-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-section-header .section-title {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--main-color);
}

.products-section-header .section-title::after {
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  height: 2px;
  background: #bbb;
  margin-top: 0.4rem;
  transition: all 0.8s ease-in-out;
}

.products-section-header .section-title:hover::after {
  width: 50%;
}

.right-products-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.right-products-header i {
  font-size: 1.8rem;
  cursor: pointer;
}

.sort-select {
  width: 12rem;
  padding: 0.8rem;
  border: none;
  outline: none;
  background-color: #aaa;
  border-radius: 10px;
  cursor: pointer;
}

.products-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.8rem;
  margin-top: 2.4rem;
  position: relative;
}

.products-cards::after {
  clip-path: polygon(100% 25%, 0 55%, 100% 75%);

  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  z-index: -1;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.32);
  height: 30rem;
}

.product-card-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-card-image img {
  width: 18rem;
  transition: all 0.3s ease-in-out;
}

.product-card:hover .product-card-image img {
  cursor: pointer;
  transform: translateY(-5.8rem) rotate(6deg) scale(1.3);
}

.product-card-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  bottom: -10%;
}
.product-card:hover .product-card-info {
  opacity: 1;
  visibility: visible;
  bottom: 5%;
  transition: all 0.4s ease-in-out;
}

.product-card-title {
  font-size: 1.2rem;
}

.product-card-description {
  font-size: 0.8rem;
  color: var(--secondary-color);
  text-align: center;
  padding: 0 1.2rem;
}

.product-card-price {
  font-size: 1.2rem;
  font-weight: 600;
}
.product-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 0 2.4rem;
}

.product-card-button {
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
  text-align: center;
  border: none;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
}

.product-card-button:hover {
  background-color: var(--tint);
}
