* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

:root {
  --main-color: #007aff;
  --secondary-color: #787878;
  --shadow: #050a30;
  --tint: #1f8bff;
  --footer-bg: #000;
}

.container {
  width: 85%;
  margin: auto;
}

#products {
  margin-top: 8.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.2rem;
}

.products-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-section-header .section-title {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--main-color);
}

.products-section-header .section-title::after {
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  height: 2px;
  background: #bbb;
  margin-top: 0.4rem;
  transition: all 0.8s ease-in-out;
}

.products-section-header .section-title:hover::after {
  width: 50%;
}

.right-products-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.right-products-header i {
  font-size: 1.8rem;
  cursor: pointer;
}

.sort-select {
  width: 12rem;
  padding: 0.8rem;
  border: none;
  outline: none;
  background-color: #aaa;
  border-radius: 10px;
  cursor: pointer;
}

.products-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.8rem;
  margin-top: 2.4rem;
  position: relative;
}

.products-cards::after {
  clip-path: polygon(100% 25%, 0 55%, 100% 75%);

  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  z-index: -1;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.32);
  height: 30rem;
}

.product-card-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-card-image img {
  width: 18rem;
  transition: all 0.3s ease-in-out;
}

.product-card:hover .product-card-image img {
  cursor: pointer;
  transform: translateY(-5.8rem) rotate(6deg) scale(1.3);
}

.product-card-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  bottom: -10%;
}
.product-card:hover .product-card-info {
  opacity: 1;
  visibility: visible;
  bottom: 5%;
  transition: all 0.4s ease-in-out;
}

.product-card-title {
  font-size: 1.2rem;
}

.product-card-description {
  font-size: 0.8rem;
  color: var(--secondary-color);
  text-align: center;
  padding: 0 1.2rem;
}

.product-card-price {
  font-size: 1.2rem;
  font-weight: 600;
}
.product-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 0 2.4rem;
}

.product-card-button {
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
  text-align: center;
  border: none;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
}

.product-card-button:hover {
  background-color: var(--tint);
}
